.root {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  height: calc(100vh - 80px);
  background-color: rgb(246, 220, 220);
}

.images,
.items {
  width: 50vw;
}

.trigger {
  transform: translate(100px, 0);
  height: 100px;
  border-radius: 50%;
  width: 100px;
  position: absolute;
  right: 50%;
  top: 70vh;
  transform: translate(50%, -50%);
}

.images {
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 700px;
  max-width: 500px;
  height: 70vh;
  object-fit: cover;
  padding: 15px;
  background-color: rgb(148, 148, 255);
  border: 2px solid rgb(100, 83, 255);
}

/* .image[id='red'] {
  background-color: rgb(125, 30, 30);
  border: 17px solid rgb(100, 83, 255);
} */

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 700px;
  max-width: 500px;
  height: 70vh;
  width: inherit;
  padding: 15px;
  background-color: rgb(148, 148, 255);
  border: 2px solid rgb(100, 83, 255);
}

.imageContainer {
  transform: translate(50px, 50px);
 /*  opacity: 0; */
}

.item {
  margin-bottom: 35px;
  button {
    padding: 5px 0;
    margin: 5px 0;
  }
}
