.asteroid {
  /*   background-image: url('../../assets/images/nebulosa.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; */
  /*   position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0; */
    right: 90px;
    top: 90px;
    height: 90px;
    width: 90px;
  /*   z-index: -1; */
}

.svgAsteroid {
    position: absolute; 
    z-index: -2;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 50vw;
}

.pathAsteroid {
    stroke: none;
}