
.main {
    
}

.link {
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: white;
    width: 200px;
    height: 75px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
}

.spaceship {
    position: absolute;
    bottom: 10px;
    left: calc(50vw + 150px);
    transform: translate(-50%, -50%) rotate(-90deg);
    height: 69px;
    width: 69px;
}