.nav {
    /* nav occupies full screen */
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    /* nav is centered */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 5, 5);
    z-index: 9;
}

.list {
    /* list is a list of links */
    list-style: none;
    /* list is centered */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.listItem {
    /* list item is a list item */
    margin: 20px;
    text-decoration: underline;
    text-underline-position: under;
    width: 200px;
}

.button {
    /* button is a hamburger menu */
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: red;
    border: none;
    /* button has a line */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    z-index: 10;

}

.link {
    /* link is a link */
    text-decoration: none;
    color: white;
    font-size: 1.15rem;
    font-weight: 700;
    margin: 20px;
    transition: all 0.3s ease-in-out;
    font-family: 'Roboto', serif;
}

/*  list all font family names */
/*  font-family: 'Montserrat', sans-serif; */
/*  font-family: 'Roboto', sans-serif; */
/*  font-family: 'Open Sans', sans-serif; */
/*  font-family: 'Lato', sans-serif; */
/*  font-family: 'Raleway', sans-serif; */
/*  font-family: 'Oswald', sans-serif; */
/*  font-family: 'Lora', serif; */
/*  font-family: 'Merriweather', serif; */
/*  font-family: 'Playfair Display', serif; */
