.main {
}

.background {
  background-image: url("../assets/images/nebulosa.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  filter: brightness(0.7);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50vw;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -10;
}

.asteroid {
  backdrop-filter: blur(1px);
}

.asteroidWrapper {
  clip-path: ellipse(18% 17% at 51% 53%);
  position: absolute;
  left: -230px;
  bottom: -215px;
  z-index: -9;
}
