.background {
    background-image: url('../../assets/images/nebulosa.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 50vw;
    height: 100%;
    width: 100%;
    z-index: -10;
}
